BasedOnStyle: GNU
AlignAfterOpenBracket: Align

# ? Prevents single line blocks from being broken into multiple lines
AllowAllParametersOfDeclarationOnNextLine: false
AllowShortBlocksOnASingleLine: false
AllowShortCaseLabelsOnASingleLine: false

AllowShortFunctionsOnASingleLine: Empty

AllowShortIfStatementsOnASingleLine: false
AllowShortLoopsOnASingleLine: false

AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
BreakBeforeBraces: Custom

# ? Disables block indentation for statements like if, else, for, while, do
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterEnum: false
  AfterFunction: false
  AfterNamespace: false
  AfterStruct: false
  AfterUnion: false
  AfterExternBlock: false
  BeforeCatch: false
  BeforeElse: false
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: false
  SplitEmptyNamespace: false

ContinuationIndentWidth: 2
KeepEmptyLinesAtTheStartOfBlocks: false
Language: Cpp
MaxEmptyLinesToKeep: 1
NamespaceIndentation: All

# ? Max line length
PenaltyExcessCharacter: 120

PenaltyReturnTypeOnItsOwnLine: 1
PointerAlignment: Left
SpacesInContainerLiterals: false

# ? Include blocks formatting
SortIncludes: true
IncludeBlocks: Merge

# ? Spaces around if/else/for/while/do but not fs
SpaceBeforeParens: ControlStatements

IndentCaseLabels: true
Standard: Cpp11

# ? No spaces in generic types (e.g. vector<int > => vector<int>)
SpacesInAngles: false

# ? Inserts braces after if/else/for/while/do
InsertBraces: true
